/* colors and fonts */
	.bleuf {color: #0065FC ;}
	.bleuc {color: #DEEBFF ;}
	.grisc {color: #F2F2F2 ;}
	.backbleuf {background-color: #0065FC ;}
	.backbleuc {background-color: #DEEBFF ;}
	.backgrisc {background-color: #F2F2F2 ;}
 
 @font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
	}
/* page */
.main-container {
	width: 100%;
	max-width: 1440px;
	margin: auto;
	border: 3px solid red;
	font-family: Raleway;
	padding: 40px;
}

/* header */
.tete {
	display: flex;
	border: 2px solid blue;
	justify-content: space-between;
  	align-items: center;
  	height: 70px;
}
/* footer */
.pied{
	height: 220px;
	width: 100%;
	background-color: #F2F2F2;
	padding-left: 40px;
	padding-right: 40px;
}
/* menu */

header ul li {
 display: inline-block;
 padding: 0 1.6em 0 0;
 font-size: 1.3em;
}
header ul li a {
 text-decoration: none;
 color: #7D7C7D;
}
li a.active {
 color: #0065FC;
 margin-top: 25px;
 border-top: 2px solid #0065FC;
 font-weight: 300;
}
li a:hover {
 color: #B6B6B6;
}
/* search area*/
.css-button {
	font-size: 16px;
	background: #F2F2F2;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	text-align: center;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.css-button-text:hover {
	background: linear-gradient(180deg, #468CCF 5%, #63B8EE 100%);
}

.css-button > span {
	display: block;
}
.css-button-icon {
	background: #F2F2F2;
	padding: 10px 10px;
	border-radius: 5px 0 0 5px;
	
}
.css-button-text {
	padding: 10px 10px;
	background: #0065FC;
	border-radius:0 5px 5px 0;
	color: white;
}

.css-write-area {
	padding: 10px 10px;
	color: black;
	font-size: 16px;
	font-weight: bold; 
}

/* Filter switch buttons look */
.filter_box{
      	display: inline-flex;
      	background-color: white;
      	height: 30px;
      	border-radius: 30px;
      	border: 2px solid #DEEBFF;
      	padding: 5px;
      	margin: 5px;
		align-items: center;
      }
.filter i{
	color: #0065FC;
}
.rond {
	background-color: #DEEBFF;
    border-radius: 26px;
    padding: 11px 11px;
    margin: -6px;
} 
.filter_text{
	margin-left: 10px;
}


/* hebergement card*/
      .card{
      	height:175px;
  		width:240px;
  		display: flex;
  		flex-direction: column;
  		border-radius: 20px;
  		background: white;
  		margin: 10px;
      }
      .img_card{ 	
      	width: 230px;
      	height: 55%;  	
 		margin: 5px;
 		border-radius: 15px 15px 0 0;
 		object-fit: cover;

      }
      .text_card{
      	margin-left: 10px;
        color: black;
        font-size: 0.8em;
        
        flex-wrap: wrap;
        }
/* populaire card */
      .card_pop{
      	display: flex;
      	height: 120px;
      	width: 300px;  		

  		flex-grow: 2;
  		border-radius: 20px;
  		background: white;
  		margin: 10px;

      }    
      .img_card_pop{ 	
      	width: 40%;	
 		margin: 5px;
 		border-radius: 15px 0 0 15px;
 		object-fit: cover;
      }
      
       .text_card i{
       	color: blue;
       }

 /* hébergement */
.flex-container-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	margin: auto;

}
.heb{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 66%;
	min-width: 780px;
	padding: 10px;
}
.heb_card {
	display: flex;
	flex-wrap: wrap;
		
}

.pop{
	display: flex;
	width: 30%;
	align-items: center;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 20px;
}

.activite{
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.activite_col{
	display: inline-flex;
	align-content: space-between;
	width: 300px;
	flex-direction: column;
	flex: 2;
	margin: auto;
}
.activite_text{
	height: 50px;
	background-color: yellow;
	vertical-align: center;
	border-radius: 0 0 20px 20px;
}
.activite_card {
	display: flex;
	flex-direction: column;
	width: 100%;
			
}
.activite_img{
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}


/* @media screen and (min-width : 600px) {
 .header-container {
   flex-direction: row;
   justify-content: space-between;
 }
 .logo {
   margin-left: 2em;
 }
 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }

} */