.container_heb_and_pop {
	display: flex;
	justify-content: space-between;
	max-width: 1360px;
	margin: auto;
}
.etoiles i {
    color: var(--bleuf);
}
/* hebergement card*/
    .heb{
		background-color: var(--grisc);
    	border-radius: 20px;
    	padding: 0 40px;
    	margin-right: 40px;
    	max-width: 880px;
    	width: 70%;
		}
    .cont_heb_card {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    	grid-gap: 35px;	
		}
	.heb_card{
      	height:200px;
  		width:100%;
  		display: flex;
  		flex-direction: column;
  		border-radius: 20px;
  		background: white;
  		box-shadow: 3px 9px 6px var(--grism);
      	}
  
   .heb_image{ 	
      	width: 100%;
      	height: 115px;  	
 		padding: 5px;
 		border-radius: 20px 20px 0 0;
 		object-fit: cover;
      	}
   	.heb_text_card{
      	display: flex;
      	flex-direction: column;
      	margin-left: 10px;
        color: black;
        font-size: 1em;
        height: 75px;
        flex-wrap: wrap;
        justify-content: space-between;
        text-decoration: none;
        }
    .etoiles{
        display: flex;
        letter-spacing: 0.05em;
        }
  

	
/* populaire card */
	.pluspop{
	  	display: flex;
	  	align-items: center;
	  	justify-content: space-between;
	  	width: 100%;

	}
	.cont_pop{
		display: flex;
		width: 30%;
		max-width: 420px;
		min-width: 375px;
		align-items: center;
		flex-direction: column;
		background-color: var(--grisc);
		border-radius: 20px;
		padding: 0 30px;
	}
	.cont_pop_card{
		display: flex;
		flex-direction: column;
	}
    .pop_card{
      	display: flex;
      	height: 150px;
      	width: 100%;  		
  		border-radius: 20px;
  		background: white;
  		margin: 15px 0;
  		box-shadow: 3px 9px 6px var(--grism);
	}    
    .pop_image{ 	
    width: 35%;
    height: 100%;	
 	padding: 5px;
 	border-radius: 20px 0 0 20px;
 	object-fit: cover;
    }
    .pop_text_card{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    color: black;
    font-size: 1em;
    height: 120px;
    width: 60%;
    min-width: 165px;
    flex-wrap: wrap;
    justify-content: space-between;
    }

/* activité */
.titre_activite{
	display: flex;
    margin-left: 40px;
    margin: auto;
    max-width: 1360px;
}

.activite{
	width: 100%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
.activite_col{
	display:flex;
	justify-content: space-between;
	width: 22%;
	min-width: 250px;
	flex-direction: column;
}
.activite_text{
	display: flex;
	height: 50px;
	background-color: white;
	align-items: center;
	border-radius: 0 0 20px 20px;
	padding-left: 20px;

}
.activite_card {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	box-shadow: 3px 9px 6px var(--grism);
	border-radius: 20px;		
}
.activite_img{
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	width: 100%;
}

/*---------------------------------------------Tablette----------------------------------------------*/
@media screen and (max-width : 1060px) {
/*------------ loupe Vs "rechercher" ---------------------------*/
	.css-logo-search{
		visibility: visible;
	    padding: 13px 7px 6px 7px;
	    width: 40px;
	    height: 42px;
	    background: var(--bleuf);
	    border-radius: 0 15px 15px 0;
	    color: white;
	}
	.css-button-text{
		display: none;
	}

/*------------------- heb et pop ---------------------------------*/
	.container_heb_and_pop{
	    flex-direction: column-reverse;
	}
	.heb{
		width: 100%;
		max-width: 1050px;
	}
	.cont_pop{
		width: 100%;
    	max-width: 1060px;
    	margin-bottom: 40px;
	}
	.cont_pop_card{
		flex-direction: row;
		justify-content: space-between;
	}
	.pop_card{
		width: 90%;
		margin: 0 0 40px 0;
		flex-direction: column;
		height: 200px;
	}
	.pop_image{
		width: 100%;
		height: 115px;
		border-radius: 20px 20px 0 0;
	}
	.pop_text_card{
    	margin-left: 10px;
    	height: 75px;
    	padding: 0;
    	width: 90%; 
	}
/*------------------- activité -----------------------------------*/	
	.activite{
		max-width:1024px;
		margin:auto;
		}
	.activite_text{
		display: flex;
		height: 55px;
	}
	.activite_col{
		width: 32%;
		min-width: 50px;
	}
	.colone4{
		display: none;
	}
}
/*-----------------------------------------------Smart phone-----------------------------------------------*/
@media screen and (max-width : 667px){

	.cont_pop_card{
		flex-direction: column;
		align-items: center;
	}
	.cont_pop{
	    width: 375px;
	    border-radius: 0;
	    align-items: center;
	    flex-direction: column;
	    background-color: var(--grisc);
	    margin: auto;
	    padding: 0 15px;
	}
	.pop_card{
		flex-direction: row;
      	height: 150px;
      	width: 100%;
    }
    .pop_image{
    	width: 35%;
    	height: 100%;
    	border-radius: 20px 0 0 20px;
    }
    .pop_text_card{
    	height: 100%;
    	width: 60%;
    	padding: 15px 10px;
    }
	.heb{
	    background-color: white;
	    border-radius: 0;
	    width: 375px;
	    padding: 0 15px;
	    margin: auto;
	}
	.heb_card{
	    height: 190px;
	    width: 345px;
	}
	
	.heb_text_card{
		height: 65px;
	}
	.titre_activite {
    display: flex;
    width: 345px;
    margin: auto;
}
	.colone4{
		display: block;
	}
	.activite_col{
		max-width: none;
		margin: auto;
		width: 345px;
	}
	.activite_img{
		object-fit: cover;
		border-radius: 20px 20px 0 0;
		width: 100%;
		height: 190px;
		}
}
