/* colors ans fonts */
	.bleuf {color: #0065FC ;}
	.bleuc {color: #DEEBFF ;}
	.grisc {color: #F2F2F2 ;}
	.backbleuf {background-color: #0065FC ;}
	.backbleuc {background-color: #DEEBFF ;}
	.backgrisc {background-color: #F2F2F2 ;}
 
 @font-face {
    font-family: 'Raleway';
    src: url('police/Raleway-VariableFont_wght.ttf') format('truetype');
	}
/* page */
.main-container {
	display: flex; 
	flex-direction: column;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid red;
}

/* header */
.tete {
	display: flex;
	border: 2px solid blue;
	justify-content: space-between;
  	align-items: center;

}
/* search area*/
.sbbox {
 display: flex;
 font-size: 1.3em;

}

.sboxinput {
	font-size: inherit;
	border: 0.2em solid green;
	border-radius: 0.5 em 0 0 0.5em;
	padding: 0.2em 0.5em;
	outline: 0;
	background-color: blue;
}

.sboxbutton {
	background-color: red;
	font-size: inherit;
	border-radius: 25px;
}

.icon-btn {
	    padding: 1px;
	    border-radius:8px;
	    height: 28px;
	    flex
	}
.btn {
	background-color: red;
}
/* Filter switch buttons look */
.filter a {
  overflow: hidden;
  background-color: #e9e9e9;
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 16px;
}

/* search box */

header ul li {
 display: inline-block;
 padding: 0 1.6em 0 0;
 font-size: 1.3em;
}
header ul li a {
 text-decoration: none;
 color: #7D7C7D;
}
li a.active {
 color: #000000;
 border-top: 2px solid #000000;
 font-weight: 300;
}
li a:hover {
 color: #B6B6B6;
}

/* hébergement */
.flex-container-column {
	display: flex;
	align-content: center;
	border: 4px solid green;
	width: 100%;
}
.flex-container-row {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	margin: 30px;
	border: 1px solid cyan;
}
.pop{
	display: flex;
	flex-direction: column;
	margin: 20px;
	border: 1px solid yellow;
}
.heb {
	display: flex;
	flex-direction: column;
	margin: 20px;
	border: 1px solid purple;
	height: 450px;
}
.lineheb {
	display: flex;
	border: 1px solid pink;
	justify-content: space-between;
}
.colpop a {
	background: pink;
  	padding: 5px;
  	width: 200px;
  	height: 150px;
  	margin: 10px;
 
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
 }
.lineheb a {
	background: tomato;
	padding: 30px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
	 
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	border: 1px solid turquoise;
}

/* @media screen and (min-width : 600px) {
 .header-container {
   flex-direction: row;
   justify-content: space-between;
 }
 .logo {
   margin-left: 2em;
 }
 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }

} */