/* colors and fonts */
	.bleuf {color: #0065FC ;}
	.bleuc {color: #DEEBFF ;}
	.grisc {color: #F2F2F2 ;}
	.backbleuf {background-color: #0065FC ;}
	.backbleuc {background-color: #DEEBFF ;}
	.backgrisc {background-color: #F2F2F2 ;}
 
 @font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
	}
/* page */
.main-container {
	width: 100%;
	max-width: 1300px;
	margin: auto;
	border: 3px solid red;
	font-family: Raleway;
}

/* header */
.tete {
	display: flex;
	border: 2px solid blue;
	justify-content: space-between;
  	align-items: center;
  	height: 70px;

}
/* menu */

header ul li {
 display: inline-block;
 padding: 0 1.6em 0 0;
 font-size: 1.3em;
}
header ul li a {
 text-decoration: none;
 color: #7D7C7D;
}
li a.active {
 color: #0065FC;
 border-top: 2px solid #0065FC;
 font-weight: 300;
}
li a:hover {
 color: #B6B6B6;
}
/* search area*/
.css-button {
	font-size: 16px;
	background: #F2F2F2;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	text-align: center;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.css-button-text:hover {
	background: linear-gradient(180deg, #468CCF 5%, #63B8EE 100%);
}

.css-button > span {
	display: block;
}
.css-button-icon {
	background: #F2F2F2;
	padding: 10px 10px;
	border-radius: 5px 0 0 5px;
	
}
.css-button-text {
	padding: 10px 10px;
	background: #0065FC;
	border-radius:0 5px 5px 0;
	color: white;
}

.css-write-area {
	padding: 10px 10px;
	color: black;
	font-size: 16px;
	font-weight: bold; 
}
/*


.icon-btn {
	    padding: 1px;
	    border-color: blue;
	}

/* Filter switch buttons look */
.filter_box{
      	display: inline-flex;
      	background-color: white;
      	height: 30px;
      	border-radius: 30px;
      	border: 2px solid #DEEBFF;
      	padding: 5px;
      	margin: 5px;
		align-items: center;
      }
.filter i{
	color: #0065FC;
}
.rond {
	background-color: #DEEBFF;
    border-radius: 26px;
    padding: 11px 11px;
    margin: -6px;
} 
.filter_text{
	margin-left: 10px;
	te
} 
 /* hébergement */
.flex-container-column {
	display: flex;
	justify-content: space-between;
	border: 4px solid green;
	width: 100%;

}
.flex-container-row {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	margin: 30px;
	border: 1px solid cyan;
}
.pop{
	display: flex;
	width: 33%;
	height: 400px;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 20px;
	justify-content: center;
}
.heb {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 20px;
	height: 400px;
	width: 66%;
	margin-bottom: 20px;
	justify-content: space-between;
}
.lineheb {
	display: flex;
	border: 1px solid pink;
	justify-content: space-between;
}

.lineheb img{
	width: 50px;
	height: 100px;
}
.colpop {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 0;
	height: 400px;
}
.colpop a {
	display: flex;
	background: pink;
  	margin: 5px;
  	width: 280px;
  	height: 110px;
 	justify-content: center;
 	border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
 }
.lineheb a {
	display: flex;
	background: tomato;
	width: 190px;
	height: 150px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	border: 1px solid turquoise;
	text-decoration: none;
}

/* @media screen and (min-width : 600px) {
 .header-container {
   flex-direction: row;
   justify-content: space-between;
 }
 .logo {
   margin-left: 2em;
 }
 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }

} */